<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.min.js"></script>
    {% block header %}
    {% endblock %}
</head>
<body>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning" id="warning">
            <button type="button" class="close" id="btn-close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}

    {% block content %}
    {% endblock %}
</body>
</html>

