{% extends 'base.html' %}

{% block header %}
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.2/iconfont/material-icons.min.css"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/chat_with_list.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
    {{ moment.locale('zh-cn') }}
    <script type="text/javascript">
        var messages_url = "{{ url_for('get_messages') }}"
        var users_list_url = "{{ url_for('get_users') }}"
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4" id="user-list">
                <div class="settings-tray">
                    <img class="profile-image" src="{{ current_user.gravatar }}" alt="Profile img">
                    <h6 id="username">{{ current_user.username }}</h6>
                    <span class="settings-tray--right float-right">
{#          <i class="material-icons">cached</i>#}
                        <a href="{{ url_for('logout') }}">
                            <i class="material-icons">power_settings_new</i>
                        </a>
                    </span>
                </div>
                <div class="user-list">

                </div>
            </div>

            <div class="col-md-8">
                <div class="settings-tray">
                    <div class="chat-profile no-gutters chat-profile--grey">
                        <img class="profile-image" src="{{ url_for('static', filename='img/user1.jpg') }}"
                             alt="Chatroom Image">
                        <div class="text">
                            <h6>公共聊天室</h6>
                            <p class="text-muted">默认的公共聊天室</p>
                        </div>
                    </div>
                </div>
                <div class="chat-panel">
                    <div class="msg-inbox">

                        <div class="msg-page" id="messages">
                            {% include 'messages.html' %}
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="chat-box-tray">
                            <i class="material-icons">sentiment_satisfied</i>
                            <input id="my_message" type="text" placeholder="Type your message here...">
                            <i id="send" class="material-icons">send</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
