{% extends 'base.html' %}

    {% block header %}
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}"/>
        <script src="{{ url_for('static', filename='js/chat.js') }}"></script>

        {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
        {{ moment.locale('zh-cn') }}

        <script type="text/javascript">
            var messages_url = "{{ url_for('get_messages') }}"
        </script>

    {% endblock %}

    {% block content %}
    <div class="container">
        <div class="msg-header">
            <div class="msg-header-img">
                <img src="{{ current_user.gravatar }}" id="current_avatar">
            </div>
            <div class="active">
                <h4 id="current_user">{{ current_user.username }}</h4>
                <h6>{{ current_user.email }}</h6>
            </div>
            <div class="header-users-logout">
                <a class="btn-close" href="{{ url_for('logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </div>
            <div class="header-users-status">
                <span>当前聊天室人数: </span><span id="user-count">0</span>
            </div>
        </div>

         <div class="chat-page">
             <div class="msg-inbox">
                 <div class="chats">
                     <div class="msg-page" id="messages">
                         {% include "messages.html" %}

                         <div class="received-chats">
                             <div class="received-img">
                                 <img src="{{ url_for('static', filename='img/user2.jpg') }}">
                             </div>
                             <div class="received-msg">
                                 <div class="received-msg-inbox">
                                     <span class="time-received">John Lewis  {{ moment().format('lll') }}</span>
                                     <p>Hi!! This is message from John Lewis</p>
                                 </div>
                             </div>
                         </div>


                     </div>
                 </div>
             </div>

             <div class="msg-bottom">
                 <div class="input-group">
                    <input type="text" class="form-control" id="my_message" placeholder="write message...">
                     <div class="input-group-append">
                         <span class="input-group-text">
                             <button id="send_button"><i class="fa fa-paper-plane"></i></button>
                         </span>
                     </div>
                 </div>
             </div>
         </div>
    </div>
    {% endblock %}
