{#收到消息呈现在左边#}
{% if message.author.username != current_user.username %}
<div class="col-12">
    <div class="col-md-5 received-message">
        <div class="received-img">
            <img class="profile-image" src="{{ message.author.gravatar }}">
        </div>
        <div class="received-msg">
            <div class="received-msg-inbox">
                    <span class="received-username">
                      {{ message.author.username }}
                    </span>
                <p>{{ message.body }}</p>
            </div>
        </div>
    </div>
    <div class="received-time">
        <span>{{ moment(message.timestamp).format('lll') }}</span>
    </div>
</div>
{% endif %}

{% if message.author.username == current_user.username%}
{#发出消息呈现在右边#}
<div class="col-12">
    <div class="col-md-5 outgoing-message">
        <div class="outgoing-msg">
            <div class="outgoing-msg-inbox">
                    <span class="outgoing-username">
                      {{ message.author.username }}
                    </span>
                <p>{{ message.body }}</p>
            </div>
        </div>
        <div class="received-img">
            <img class="profile-image" src="{{ message.author.gravatar }}">
        </div>
    </div>
    <div class="received-time">
        <span>{{ moment(message.timestamp).format('lll') }}</span>
    </div>
</div>

{% endif %}